.MuiTypography-h1 {
    font-size: clamp(75px, 8vw, 100px) !important;
    font-family: $font-stack1;
    color: $secondary;
  }
  .MuiTypography-h2 {
    font-size: clamp(50px, 7vw, 70px) !important;
    color: $primary;
    font-family: $font-stack1;
  }
  .MuiTypography-h3 {
    font-size: clamp(20px, 4.2vw, 50px) !important;
    font-family: $font-stack1;
    color: $secondary;
  }
  .MuiTypography-h4 {
    font-family: $font-stack1;
    font-size: clamp(30px, 3.7vw, 40px) !important;
    color: $secondary;
  }
  .MuiTypography-h5 {
    font-family: $font-stack1;
    font-size: clamp(25px, 3.25vw, 35px) !important;
    color: $primary;
  }
  .MuiTypography-h6 {
    font-family: $font-stack2;
    font-size: clamp(25px, 3vw, 25px) !important;
    color: $tertiary;
  }
  
  .MuiTypography-subtitle1 {
    font-family: $font-stack1;
    font-size: clamp(15px, 2vw, 20px) !important;
  }
  



  [class^="devicon-"] {
    font-size: clamp(20px, 4rem, 70px) !important;
    
    color: $devicon;

    text-align: center;
    // @include animation('glow 5s ease-in-out infinite alternate;');
  }