$font-stack1: Oswald, sans-serif !important;
$font-stack2: "Darker Grotesque", sans-serif !important;

$black: #000 !important;

$primary: #c7efcf !important;
$secondary: white !important;
$tertiary: white !important;

$filter: invert(96%) sepia(5%) saturate(1131%) hue-rotate(67deg) brightness(92%)
    contrast(104%) !important;
$background-color: #203b36 !important;

// $primary: #32b8a6 !important;
// $secondary: white !important;
// $tertiary: white !important;

// $filter: invert(96%) sepia(5%) saturate(1131%) hue-rotate(67deg) brightness(92%)
//     contrast(104%) !important;
// $background-color: #091d29 !important;

$text-color: $tertiary;
$nav-background: $background-color;
$button-color: $primary;
$nav-color-hover: $primary;
$nav-item-active-color: $primary;
$nav-item-color: $text-color;
$table-heading: $primary;

$devicon: $primary;
$filter-to-white: brightness(0) invert(1);

$h1: calc(60px + 2vw) !important;
$h2: calc(50px + 1.5vw) !important;
$h3: calc(40px + 1.3vw) !important;
$h4: calc(30px + 1vw) !important;
$h5: calc(25px + 0.8vw) !important;
$h6: calc(20px + 0.5vw) !important;
$h7: calc(10px + 0.5vw) !important;
$subtitle1: calc(15px + 0.5vw) !important;
$body1: calc(15px + 0.5vw) !important;

html {
    overflow-x: hidden !important;
    width: 100%;
}
body {
    overflow-x: hidden !important;

    font-family: "Oswald", sans-serif !important;
    background-color: $background-color;
    color: $text-color;
}

.sagarsurilogo {
    width: 2.3rem;
    height: 2.3rem;
    fill: $primary;
    padding-top: 1rem;
}

#app > * {
    padding-top: 10vh;
}

.MuiGrid-container {
    margin: auto !important;
}

.MuiButton-root,
.MuiFormLabel-root,
.MuiInputBase-input {
    font-family: $font-stack1;
}
.main-button {
    .MuiSvgIcon-root {
        padding: 0 5px 0 0px;
    }

    font-family: $font-stack1;
    color: $button-color;
    border: 1px solid !important;
    font-size: $subtitle1;
}

.MuiTypography-h1 {
    font-family: $font-stack1;
    color: $secondary;
}
.MuiTypography-h2 {
    color: $primary;
    font-family: $font-stack1;
}
.MuiTypography-h3 {
    font-family: $font-stack1;
    color: $secondary;
}
.MuiTypography-h4 {
    font-family: $font-stack1;

    color: $secondary;
}
.MuiTypography-h5 {
    font-family: $font-stack1;

    color: $primary;
}
.MuiTypography-h6 {
    font-family: $font-stack2;

    color: $tertiary;
}

.MuiTypography-subtitle1 {
    font-family: $font-stack2;
}

.MuiTypography-subtitle2 {
    font-family: $font-stack2;

    color: $secondary;
}

.MuiTypography-caption {
    font-family: $font-stack1;

    color: $secondary;
}
.MuiTypography-body1 {
    font-family: $font-stack1;

    color: $secondary;
}

.MuiTypography-h1 {
    font-size: $h1;
}
.MuiTypography-h2 {
    font-size: $h2;
}
.MuiTypography-h3 {
    font-size: $h3;
}
.MuiTypography-h4 {
    font-size: $h4;
}
.MuiTypography-h5 {
    font-size: $h5;
}
.MuiTypography-h6 {
    font-size: $h6;
}
.MuiTypography-subtitle1 {
    font-size: $subtitle1;
}
.MuiTypography-body1 {
    font-size: $body1;
}

html {
    width: 100%;
}

#nav,
.drawer {
    padding-top: 0vh;
    color: $text-color;
    background-color: $nav-background;
    .archive {
        text-decoration: none;
    }
    .nav-title {
        flex-grow: 1;
    }
    .nav-item {
        color: $nav-item-color;
        padding-right: 5vw !important;
        cursor: pointer;
        &:hover {
            color: $nav-color-hover;
        }
    }

    .nav-item-active {
        color: $nav-item-active-color;
    }

    .MuiSvgIcon-root {
        color: $primary;
    }
}

.drawer {
    padding: 1rem;

    .MuiTypography-root {
        font-size: $h5;
    }
    > * {
        margin: 1rem;
    }
    .nav-button {
        margin-top: 5rem;
    }
}

.nav-button {
    .MuiSvgIcon-root {
        padding: 0 5px 0 0px;
    }
    font-family: $font-stack2;
    color: $button-color;
    border: 1px solid !important;
    font-size: $h7;
}

#top {
    padding-top: 0vh;
    #hi {
        color: $primary;
        font-family: $font-stack2;
    }

    min-height: 100vh;
    margin-top: 10vh !important;

    .MuiTypography-h1 {
        padding-bottom: 10vh;
    }

    #caption {
        padding-bottom: 10vh;
    }
}

#about {
    min-height: 100vh;
    .school-logo {
        margin-bottom: 0px !important;
        padding-bottom: 0 !important;
        min-height: 45px;
        height: 8vw;
        max-height: 60px;

        filter: $filter;
    }

    [class^="devicon-"] {
        font-size: calc(60px + 0.5vw) !important;

        color: $devicon;

        text-align: center;
        // @include animation('glow 5s ease-in-out infinite alternate;');
    }

    .logo {
        filter: $filter;
        width: calc(80px + 0.5vw) !important;
    }
}

#work {
    margin-top: 20vh !important;
    .active-job {
        vertical-align: middle !important;

        color: white !important;
        border: 1px solid $primary;
    }
    .job {
        height: 9vh !important;
    }
    .work-image {
        height: 8vw;
        max-height: 60px;
        filter: $filter;
    }

    .MuiTypography-h3 {
        font-size: $h5;
    }
    .MuiTypography-h4 {
        font-size: $h6;
    }
    .job-descriptions {
        // margin-top: 0 !important;
        // padding-top: 0 !important;
        min-height: 50vh;
        // min-height: 80vh;
    }

    .main-list {
        margin-left: 2vh;
        list-style-type: disc;
    }
    .sub-list {
        list-style-type: circle;
        font-size: $subtitle1;
        margin-left: 5vh;
    }
}

#project {
    .builtWith {
        padding: 0;
        margin: 0;
        li,
        a {
            display: inline;
            font-size: $h6;
            font-family: $font-stack2;

            border-radius: 10px;
            margin: 0 1.5vw 0 0;
            padding: 0 1vw;
        }
        li {
            // background: $primary;
            color: $primary;
        }

        .MuiSvgIcon-root {
            color: $text-color;
            cursor: pointer;
            font-size: $h6;

            :hover {
                color: $button-color;
            }
        }
    }

    .projectContainer {
        min-height: 70vh;
        margin: 5vh 0 5vh 0 !important;
    }

    .jvContainer {
        background-color: teal;

        img {
            border-radius: 1.4rem;
            max-height: 440px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.02);
            }
        }
    }
    .jv-logo {
        width: 40vw;
        height: 100%;
        max-width: 300px;

        filter: $filter;
    }

    .jv-video {
        width: 100%;
        max-width: 300px;
    }

    .market-link {
        width: 30vw;
        max-width: 150px;
        border: 1px solid white !important;
        border-radius: 2%;
    }

    .ssj {
        width: 35%;
        max-width: 300px;

        // padding-right: 5vh !important;
    }

    .pcprtlstlogo {
        font-family: "Comfortaa", cursive !important;
        color: white !important;
        // margin: 0;
        // left: 0 !important;
        // right: 0 !important;
        // margin: auto !important;
        // position: absolute !important;
    }
    .pcprtlst {
        width: 100%;
        // max-height: 300px;
    }

    .pcprtlstmobile {
        max-height: 300px;
        // width: 35vw;
    }

    .jb-video {
        height: 40vw;
        max-height: 300px;
    }

    .paint {
        height: 40vw;
        max-height: 350px;
    }
}

#project-archive {
    width: 95% !important;

    .MuiGrid-container {
        margin: 1rem !important;
    }

    .table-heading {
        margin: 0rem 0 1rem 0 !important;
        font-weight: bold;
    }

    .MuiSvgIcon-root {
        color: $text-color;
        cursor: pointer;

        :hover {
            color: $button-color;
        }
    }
}
.table-row {
    margin-bottom: 2rem !important;
    padding: 1rem 0rem 1rem 1rem !important;

    overflow-y: hidden;

    padding-top: 1vh;
    padding-bottom: 1vh;

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    // border-top: 1px solid;
}

.table-cell-1 {
    padding: 0rem 1rem 1rem 1rem !important;
    word-wrap: break-word !important;

    .MuiSvgIcon-root {
        margin: 1rem 1rem 1rem 0;
    }
}
.table-cell-2 {
    font-family: $font-stack2;
}

#footer {
    margin-top: 10vh !important;
    margin-bottom: 2vh !important;
    .MuiSvgIcon-root {
        font-size: 3rem;
        color: $text-color;
        cursor: pointer;

        :hover {
            color: $button-color;
        }
    }
}
